html, body{
    width: 100%
}

.gameContainer {
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.7;
    cursor: pointer;
}

.gameContainer:hover {
    opacity: 1;
}

.gameTitle {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    width: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: auto;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 1;
}

.buttonStyle {

}